@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
.home_top{
    /* background-color: #5095bb; */
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 1rem;
    /* margin-left: 0px;
    height: 13ch;
    margin-top: -50px;
    display: flex;
    overflow: hidden;
    gap: 250px;*/
    width: 1193px;
    position: fixed; 
}
.home_top h1{
    font-family: Josefin Sans;
    /* padding-top: 2.5ch; */
    padding-left: 2ch;
    color: aliceblue;
}
.nav{
    display: flex;
    gap: 30px;
    color: rgb(234, 240, 246);
    padding-bottom: 1ch;
}
/* .nav a:hover{
    color: rgb(174, 145, 29);

} */
.nav a{
    text-decoration: none;
    color: white;
}

.home_bottom{
    padding-top: 9ch;
    display: flex;
    gap: 1cm;
}



.profile{
    margin-left: 1cm;
    width: 300px;
    height: fit-content;
    border-radius: 3ch;
    /* background-color: goldenrod; */
}

.profile img{
    padding-left: 60px;
    padding-top: 30px;
}
.profile p{
    text-align: center;
}

.skill_details{
    /* border-color: goldenrod; */
    /* background-color: #dfd3c3; */
    color: aliceblue;
    /* border-style:groove; */
    padding-left: 15px;
    height: fit-content;
    border-radius: 3ch;
    width: 800px;
    box-shadow: 5px 5px 20px 2px #000000;
}
.tech_skill{
    display: flex;
    gap: 15px;
}

.tech_skill section{
    /* background-color: #c7b198; */
    border-radius: 2ch;
    margin-bottom: 3ch;
    box-shadow: 5px 5px 20px 2px #000000;

}

.db_skill section{
    /* background-color: #c7b198; */
    border-radius: 2ch;
    margin-bottom: 3ch;
    width: 160px;
    box-shadow: 5px 5px 20px 2px #000000;

}
.web_skill{
    display: flex;
    gap: 25px;
}
.web_skill section{
    /* background-color: #c7b198; */
    border-radius: 2ch;
    margin-bottom: 3ch;
    width: 160px;
    box-shadow: 5px 5px 20px 2px #000000;
}
.web_skill section img{
    padding-top: 1ch;
}

.foot{
    margin-top: 5ch;
    margin-bottom: 3ch;
    display: flex;
    /* color: #596e79; */
    justify-content: space-between;
}
.foot-text{
    padding-left: 30px;
}
.fa {
    background: transparent;
    /* color: #596e79; */
    font-size: large;
  }
.foot-right{
    display: flex;
    text-align: right;
    padding-right: 30px;
    gap: 25px;
}
i:hover{
    color: rgb(37, 136, 222);
}
  
